
      body {
        background-color: rgb(152, 236, 169);
      }
      .about {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p {
        width: 64vw;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        font-family: Georgia, "Times New Roman", Times, serif;
        box-shadow: 3px 7px 4px rgb(58, 139, 220);
        border: 5px solid white;
        background-color: white;
      }
      h1,
      h2 {
        background: rgb(73, 72, 78);
        background: linear-gradient(
          90deg,
          rgb(230, 175, 204) 0%,
          rgb(171, 195, 180) 9%,
          rgb(154, 205, 194) 48%,
          rgb(121, 163, 119) 99%
        );
        box-shadow: 4px 4px 4px rgb(146, 237, 94);

        padding: 8px;
      }

      .comment{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .comment .box{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        border: 2ch solid white;
        border-radius: 40px;
        margin: 20px ;
        width: 50vw;
        /* height: 50vh; */
        background-color: white;
      }
    footer {
  color: white;
  max-width: 80vw;
  margin: auto;
  padding: 23px;
}
.ques {
  color: black;
  padding: 10px 10px 40px 10px;
}

.footer {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(40, 154, 67);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer a {
  text-decoration: underline;
  color: rgb(118, 121, 51);
  font-size: 14px;
}

a:active {
  color: rgb(0, 64, 255);
}