* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bigcontainer {
  position: relative;
}
body{
  background-color: antiquewhite;
}

.ball img{
  width: 150px;
  height: 150px;
  border-radius: 60px;
  background-color:aqua ;
  z-index: 10;
   position: absolute;
   bottom: 0px;
   left: 0;
   animation: ball 5s linear infinite ,
       ball2 1s ease-out infinite alternate;
}



@keyframes ball {
   from {
       left: 0;
   }

   to {
       left: 91%;
   }
}

@keyframes ball2 {
   from {
       bottom: 13%;
   }

   to {
       bottom: 13%;
   }
}
.main {
  height: 85vh;
  width: 100%;
}
.contain .b{
  position: absolute;
  top: 0;
  background-color: black;
  height: 85vh;
  width: 100%;
}
.main .box {
  height: 85vh;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
}
.box img {
  width: 100%;
  height: 85vh;
}

nav {
  background: rgb(73, 72, 78);
  background: linear-gradient(
    90deg,
    rgb(220, 227, 179) 0%,
    rgb(145, 140, 44) 9%,
    rgba(79, 179, 104, 0.532) 48%,
    rgba(102, 69, 172, 0.26) 99%
  );
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin: 0px 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  /* gap: 500px; */
  z-index: 12;
  top: 0;
  height: 62px;
}
h2 {
  margin: 0 80px;
  position: relative;
  text-decoration: none;
  z-index: 10;
  color: white;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lang a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  
  text-decoration: none;
  z-index: 10;
  color: white;
  background-color: rgba(23, 23, 23, 0.1);
  padding: 4px 8px;
  margin: 0 20px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(133, 87, 78);
  width: 100%;
  flex-wrap: wrap;
}
.nav a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  z-index: 10;
  color: rgb(8, 5, 5);
  padding: 4px 8px;
  margin: 0 8px;
  background-color: rgba(0, 118, 34, 0.26);
  padding: 10px;
  margin: 20px 50px;
  border: 2px solid black;
  border-radius: 50px;
}
.nav a:hover {
  color: rgb(145, 133, 133);
}
hr {
  height: 7px;
  width: 100%;
  background-color: white;
}

.hero {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 250px);
  gap: 23px;
  padding: 0 30px;
}
.hero pre {
  font-size: 2rem;
  color: rgb(240, 232, 232);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
#text {
  padding: 10px 70px 10px 10px;
  background-color: rgba(233, 219, 219, 0.61);
  color: rgb(225, 198, 123);
  border: 2px solid black;
  border-radius: 5px;
}

#text:hover {
  background-color: rgba(190, 179, 179, 0.61);
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  margin: 60px 25px;
    border-radius: 30px;
    border: 2px solid;
    border-color:color-mix(in srgb, rgb(171, 16, 16) 50%, rgb(27, 91, 27) 50%);
    padding: 10px;
    background: rgb(73,72,78);
background: linear-gradient(90deg, rgb(166, 172, 157) 0%, rgb(225, 170, 4) 9%, rgb(145, 109, 119) 48%, rgb(103, 86, 157) 99%);

}
.container .boxes {
  height: 60vh;
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  border: 3px solid rgb(26, 16, 16);
  background-color: rgb(238, 237, 237);
  flex-direction: column;
  margin: 60px 5vw;
}
.boxes {
  overflow: hidden;
  position: relative;
}
.boxes .b {
  position: absolute;
  top: 0;
  background-color: black;
  height: 60vh;
  width: 300px;
}
.boxes .sbox {
  position: absolute;
  opacity: 0.6;
  top: 0;
}
.sbox img {
  height: 60vh;
  width: 300px;
}
.boxes:hover {
  border-radius: 40px;
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
  border: 4px solid black;
  border-radius: 40px;
}
.boxes h4 {
  position: absolute;
  z-index: 10;
  margin: 10px 0 0 20px;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  color: rgb(254, 254, 254);
  bottom: 120px;

}
.boxes h3 {
  position: absolute;
  z-index: 10;
  font-weight: 200;
  margin: 10px 20px 0 10px;
  color: rgb(236, 236, 237);
  bottom: 60px;
  text-decoration: underline;
}
.hr hr {
  background-color: rgb(36, 20, 20);
  width: 100vw;
  height: 7px;
}
/* footer  */
footer {
  color: rgb(217, 192, 192);
  max-width: 80vw;
  margin: auto;
  padding: 23px;
}
.ques {
  color: black;
  padding: 10px 10px 40px 10px;
}

.footer {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgb(40, 154, 67);
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer a {
  text-decoration: underline;
  color: rgb(91, 128, 206);
  font-size: 14px;
}

a:active {
  color: rgb(0, 64, 255);
}

@media (max-width: 768px){
  nav{
  height: 51px;
  justify-content: center;
  }
  nav h2{
    font-size: 20px;
  }
  #lang a{
    font-size: 12px;

  }
  .box img, .main .box , .contain .b,.main {
  width: 100%;
  height: 60vh;
}
@keyframes ball2 {
   from {
       bottom: 38%;
   }

   to {
       bottom: 38%;
   }
}
.hero pre{
  font-size: 1.0rem;
  flex-direction: column;
  padding-top: 200px;
  
}
.nav a{
  font-size: 1rem;
}
h1{
  font-size: 1.5rem;

}

.boxes h4,.boxe h4{
  font-size: 1rem;
  font-weight: 300;

}
.boxes h3,.boxe h3{
  font-size: .8rem;
  font-weight: 200;
}
.ball img{
    width: 100px;
    height: 100px;
  }

}
@media (max-width: 440px){
  nav{
  height: 30px;
  justify-content: center;
  }
  .ball img{
    width: 100px;
    height: 100px;
  }
  nav h2{
    font-size: 10px;
    
  }
  #lang a{
    display: none;
  }
  .box img, .main .box , .contain .b,.main {
  width: 100%;
  height: 40vh;
}
@keyframes ball2 {
   from {
       bottom: 58%;
   }

   to {
       bottom: 58%;
   }
}
.hero pre{
  font-size: .8rem;
  flex-direction: column;
  padding-top: 200px;
  
}
.nav a{
  font-size: 1rem;
}
h1{
  font-size: 1rem;

}
.nav a{
  width: 100%;
  margin: 10px;
  
}
.boxes h4{
  font-size: 1rem;
  font-weight: 300;
}
.boxes h3{
  font-size: .8rem;
  font-weight: 200;
}
.footer a{
  font-size: 7px;
}

  .container {
    flex-direction: column;
  }
   
  .sbox img, .boxes .b,.container .boxes{
    width: 250px;
    height: 30vh;
  }
.container .boxes{
  margin: 20px;
}
.boxes h3{
  bottom: 30px;
}
.boxes h4{
  bottom: 60px;
}
}
